# CODEOWNERS
# File and folder ownership for required reviews.

# Repository configuration: SV1
/.github/ @tranhuultai

# Security configuration: SV1 + SV3
/Code/DevSecOpsGate/security/ @tranhuultai @gialong611

# Gate policies: SV2 + SV3
/Code/DevSecOpsGate/policy/ @duy13-computer @gialong611
